.table th{
    border: solid 1px black;
    padding: 10px;
    background-color: rgb(145, 202, 183);
}
.table td{
    border: solid 1px black;
    padding: 10px;
}
.estudiante-card {
    display: inline-block;
}